body {
    background-color: #f8f9fa;
}

.task-column {
    min-height: 200px;
    padding: 10px;
}

.task-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.task-card:hover {
    transform: scale(1.03);
}

#trash-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}